body{
  font-family: Helvetica, sans-serif;
}
.title{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
.category{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.pricing{
  font-weight: bold;
  color: blue;
}
h2.brushes{
  background-color: mediumspringgreen;
}
h2.frames{
  background-color: lightcoral;
}
h2.paint{
  background-color: skyblue;
}
